asgiref==3.6.0
deep-translator==1.11.4
Django==4.2
djangorestframework==3.14.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.64.0
mysqlclient==2.1.1
psycopg2==2.9.6
pytz==2023.3
sqlparse==0.4.3
